<div  id="nav" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
<a class="p-2 text-dark" href="/"><i class="fa fa-amazon" aria-hidden="true"></i> {{CompanyName}}</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <input [(ngModel)]="searchterm" placeholder="Enter product...">&nbsp;<a href="https://www.amazon.com/s?k={{searchterm}}&camp=1789&creative=9325&linkCode=xm2&linkId=d6631bb329c34559e7cf05005912de64&tag=product-review-spec-20&ref=as_li_qf_sp_sr_il_tl" class="btn btn-primary" target="_blank">SEARCH</a>
      <a class="p-2 text-dark" href="/"><img src="https://s3-us-west-2.amazonaws.com/amazonprimedeals/ticket-amazon-primedeals_DAILYDEALS.png" alt="Amazon Daily Deals" /></a>
      <a class="p-2 text-dark" href="/coupons"><img src="https://s3-us-west-2.amazonaws.com/amazonprimedeals/ticket-amazon-primedeals_COUPONS.png" alt="Amazon Coupons" /></a>
      <a class="p-2 text-dark" href="/giveaways"><img src="https://s3-us-west-2.amazonaws.com/amazonprimedeals/ticket-amazon-primedeals_giveaways.png" alt="Amazon GiveAways" /></a>
      <a class="p-2 text-dark" href="/businessdeals"><img src="https://s3-us-west-2.amazonaws.com/amazonprimedeals/ticket-amazon-primedeals_businessdeals.png" alt="Amazon Business Deals" /></a>
         </nav>
    {{!-- <a class="btn btn-outline-primary" href="#">Sign up</a> --}}
  </div>
  <!-- end header -->

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <a href="https://www.amazon.com/b2b/info/amazon-business?layout=landing&amp;ref_=nav_b2b_reg_nav_t2&_encoding=UTF8&tag=product-review-spec-20&linkCode=ur2&linkId=8d6fd8cb87e28d99c1e768a42d68479a&camp=1789&creative=9325" target="_blank"><img class="embed-responsive embed-responsive-16by9" src="https://s3-us-west-2.amazonaws.com/amazonprimedeals/AmazonBusiness.png" width="2870px" height="100%"  style="border:none !important; margin:0px !important;" /></a><br/>
            <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{prodheading5}}</h4>
            
          </div>
          <div class="card-body">  
              <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=49&l=ur1&category=amazonfresh&banner=134RW6WXW18JDXHXGNG2&f=ifr&linkID=164754d13172d82d5258700fec46395a&t=product-review-spec-20&tracking_id=product-review-spec-20" width="300" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
              <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=36&l=ez&f=ifr&linkID=c5a72d58fc495f94a319fdb0176f3a11&t=product-review-spec-20&tracking_id=product-review-spec-20" width="600" height="520" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
              <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=49&l=ur1&category=amazonhomepage&f=ifr&linkID=997517c58c43f8b6f6fa5b0fac085516&t=product-review-spec-20&tracking_id=product-review-spec-20" width="300" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
          </div>
        </div>
  </div>
  
  <div class="container">
    <div class="card-deck mb-4 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{prodheading1}}</h4>
        </div>
        <div class="card-body">
            <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=14&l=ur1&category=amazonhomepage&f=ifr&linkID=57e923ea35d94cf0bf6db669b14c4c8c&t=product-review-spec-20&tracking_id=product-review-spec-20" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{prodheading2}}</h4>
        </div>
        <div class="card-body">
            <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=14&l=ur1&category=musicandentertainmentrot&f=ifr&linkID=94ffa25925f9bc104c82295fae76e1be&t=product-review-spec-20&tracking_id=product-review-spec-20" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{prodheading3}}</h4>
        </div>
        <div class="card-body">
            <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=14&l=ur1&category=dominoprojectbooks&f=ifr&linkID=0fb888ecb4dddd36a016a4eed4c60c8d&t=product-review-spec-20&tracking_id=product-review-spec-20" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>        </div>
      </div>
    </div>
  </div>

  <!-- end main content area -->

 <!-- footer start -->
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        {{!-- <small class="d-block mb-3 text-muted">© 2019 Appandwebdevelopers.com</small> --}}
      </div>
      <div class="col-6 col-md">
        <small class="d-block mb-3 text-muted">© 2019 Appandwebdevelopers.com</small>
        {{!-- <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul> --}}
      </div>
      <div class="col-6 col-md">
        {{!-- <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div> --}}
      <div class="col-6 col-md">
        {{!-- <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul> --}}
      </div>
    </div>
  </footer>
<!-- end footer -->